#donate {
  padding: 0rem;
  margin: 3rem;
  
  .coffee {
    background-color: #f9a826;
    color: $dark-blue-text;
    border: none;
    border-radius: 16px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-weight: bold !important;
  }

  .coffee:hover {
    background-color: #f7a015;
  }

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .bmc-btn {
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  @media screen and (min-width: 800px) {
    .bmc-btn:hover {
      color: black;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
  }
}
